.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 300px;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid var(--lightwenge);
    min-height: 100px;
    flex-grow: 1;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px 0px 10px 5px;
}

.displayName {
    font-weight: 600;
}

.dot {
    font-weight: 600;
    opacity: .65;
    font-size: 1.1rem;
}

.date {
    opacity: .65;
    font-weight: 600;
    font-size: .9rem;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0px 0px 0px 5px;
}

.note {
    font-size: 1rem;
}

.author {
    font-size: 1rem;
    padding: 10px;
}

.imageContainer {
    display: flex;
    
}

.imageOne {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}

