.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 300px;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid var(--lightwenge);
    min-height: 100px;
    flex-grow: 1;
    width: 100%;
}


.headerContainer {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin: 0px 0px 10px 5px;
}

.pinnedMessage {
    display: flex;
    align-items: center;
    margin: 0px 0px 5px 5px;
    gap: 5px;
    height: 20px;
}

.pinnedImage {
    display: flex;
    align-items: center;
    opacity: .85;
}

.pinText {
    display: flex;
    align-items: center;
    font-size: .85rem;
    height: 100%;
    color: var(--darkwenge);
}

.optionsContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    z-index: 20;
}

.optionsModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    border-radius: 15px;
    padding: 20px 15px 20px 15px;
    background-color: white;
    z-index: 30;
}


.ownerActions {
    display: flex;
    justify-content: flex-end;
    margin: -28px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
    width: 100%;
}

.postOptions {
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.deletePost:hover {
    opacity: .7;
}

.saveButton {
    border: 2px solid var(--bluegreen);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: var(--bluegreen);
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cancelButton {
    border: 2px solid var(--wenge);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: none;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.deleteButton {
    border: none;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: var(--red);
    width: 100%;
    color: var(--cream);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.headerItems {
    display: flex;
    align-items: center;
    gap: 5px;
}

.displayName {
    font-weight: 600;
}

.dot {
    font-weight: 600;
    opacity: .65;
    font-size: 1.1rem;
}

.date {
    opacity: .65;
    font-weight: 600;
    font-size: .9rem;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0px 0px 0px 5px;
}

.note {
    font-size: 1rem;
}

.author {
    font-size: 1rem;
    padding: 10px;
}


.imageOne {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}

.linkContainer {
    display: flex; 
    align-items: center;
    width: 100%; 
    margin: 15px 0px 0px 0px;
}


.mediaContainer {
    display: flex; 
    align-items: center;
    width: 100%; 
    margin: 15px 0px 0px 0px;
    gap: 5px;
    border: none;
}

.mediaItemOne {
    display: flex;
    justify-content: center; 
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.mediaContainerTwo {
    display: flex; 
    align-items: center;
    width: 100%; 
    gap: 5px;
    margin: 15px 0px 0px 0px;
}

.mediaItemContainer {
    display: flex; 
    align-items: center;
    width: 50%;
    height: 225px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.mediaItemTwo {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.mediaContainerThree {
    display: flex; 
    align-items: center;
    width: 100%; 
    border: none;
    margin: 15px 0px 0px 0px;
    gap: 5px;
}

.mediaContainerLeft {
    display: flex; 
    align-items: center;
    width: 60%; 
    gap: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.mediaContainerRight {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 40%; 
    gap: 5px;
    margin: 0;
    cursor: pointer;
}

.mediaItemContainerLeft {
    display: flex; 
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.mediaItemContainerRight {
    display: flex; 
    align-items: center;
    width: 100%;
    height: 123px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

.mediaItemLeft {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-radius: 10px;
}

.mediaItemRight {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.mediaContainerStack {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50%; 
    gap: 5px;
    margin: 0;
    margin: 15px 0px 0px 0px;
}

.mediaItemContainerSquare {
    display: flex; 
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}


