.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    z-index: 50;
    overflow: hidden;
}

.optionsModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 10px;
    border-radius: 15px;
    padding: 25px 20px 15px 20px;
    background-color: var(--cream);
    z-index: 55;
}


.ownerActions {
    display: flex;
    justify-content: flex-end;
    margin: -28px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
    width: 100%;
}

.postOptions {
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

.deletePost:hover {
    opacity: .7;
}

.pinButton {
    border: 1.5px solid var(--bluegreen);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: var(--bluegreen);
    color: var(--blueblack);
    width: 100%;
    font-weight: 400;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.deleteButton {
    border: 1.5px solid var(--blueblack);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    width: 100%;
    color: var(--blueblack);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.cancelButton {
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-color: none;
    background: none;
    width: 100%;
    cursor: pointer;
    color: var(--blueblack);

    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
