.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px 10px 0px 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}



.noteInput {
    outline: none;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
}

.mediaContainer {
    display: flex;
    gap: 10px;
}

.addLinkContainer {
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 5px 0px 5px 0px;
}

.addLink {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.addLinkInput {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: grey;
    font-size: 1rem;
    font-family: 'Rokkitt', serif;
    font-weight: 400;

}

.addVideoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.previewSection {
    display: flex;
    flex-direction: column;
}

.videoPreviewContainer {
    border: none;
    border-radius: 10px;
}

.mediaContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.mediaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 250px;
    min-height: 250px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

.upload {
    font-size: 2.5rem;
    color: white;
}


/* .noteInput:focus {
    outline:1px solid fuchsia;
} */

/* .authorInput:focus {
    outline:1px solid fuchsia;
} */

.authorInput {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    
}

.uploadContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

.uploadItem {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    background: none;
    color: white;
}

.submitButton {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    color: white;
    background-color: #1d8698;
}
