.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.title {
    margin: 0px 0px 0px 0px;
    color: #54494B;
    font-family: 'Zeyada', cursive;
}