
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&family=Zeyada&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(246,196,142);
 background: radial-gradient(circle, rgba(246,196,142,1) 0%, rgba(29,134,152,1) 100%);
 font-family: 'Rokkitt', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */