.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.searchbar {
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--blueblack);
    outline: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.noUser {
    display: flex;
    margin: 10px 0px 0px 0px;
}

@media screen and (min-width: 550px){
    .container {
        width: 500px;
    }
}