

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 50px 25px 50px 25px;
    border-radius: 10px;
    background-color: var(--bluegreen);

    
}

.boardTitle {
    text-align: center;
    font-weight: 400;
    color: var(--cream);
}