.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px 0px 40px 0px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px 15px 0px 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid var(--wenge);
    background-color: white;
}

.contentContainer {
    border-bottom: 1px solid lightgrey;
    margin: 0px 0px 10px 0px;
}

.previewSection {
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.postActions {
    display: flex;
    margin: 10px 0px 0px 0px;
}

.uploadContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.uploadItem {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    background: none;
    color: var(--wenge);
    opacity: .8;
}

.uploadItemGrey {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    background: none;
    color: var(--wenge);
    opacity: .3;
    cursor: default;

}


.readyButton {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    color: var(--cream);
    background-color: var(--wenge);
}

.submittingButton {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
    border: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    color: var(--cream);
    background-color: var(--midwenge);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border-bottom: 1px solid var(--wenge);
}


.noteInput {
    outline: none;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    overflow: visible;
}


.mediaContainer {
    display: flex; 
    align-items: center;
    width: 100%; 
    margin: 15px 0px 15px 0px; 
}

.mediaItem {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.mediaItemVid {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
   
}

.mediaItemImg {
    display: flex;
    justify-content: center; 
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.mediaContainerTwo {
    display: flex; 
    width: 100%; 
    margin: 15px 0px 15px 0px; 
    gap: 8px;
}

.mediaItemTwo {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    max-height: 200px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.mediaItemTwoImg {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.mediaContainerThree {
    display: flex; 
    align-items: center;
    width: 100%; 
    min-width: 250px;
    max-width: 500px;
    height: 100%;
    flex-wrap: wrap; 
    margin: 20px 0px 20px 0px; 
    gap: 8px;
}

.mediaItemThreeBig {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    max-height: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
    overflow: hidden;
}

.mediaItemThreeStack {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    max-height: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
    overflow: hidden;
}

.mediaItemThreeImg {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.mediaContainerFour {
    display: flex; 
    align-items: center;
    width: 100%; 
    min-width: 250px;
    max-width: 500px;
    height: 100%;
    flex-wrap: wrap; 
    margin: 20px 0px 20px 0px; 
    gap: 8px;
}



.mediaItemFour {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
    flex-basis: 200px;
    min-height: 200px;
    width: 200px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bluegreen);
}








/* .mediaClassOne {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: auto;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bluegreen);
}

.mediaClassTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 40%;
    height: 150px;
    flex-basis: 125px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    overflow: hidden;
    
}

.mediaClassThree {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 120px;
    height: 125px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    overflow:hidden;
}

.mediaClassThreeThird {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 125px;
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    overflow:hidden;
}

.mediaClassFour {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 120px;
    height: 150px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    overflow:hidden;
}

.mediaDetailOne {
    height: auto;
    min-width: 100%;
    width: 100%;
    border-radius: 10px;
    overflow:hidden;
}

.mediaDetailOneVid {
    height: auto;
    min-width: 100%;
    width: 100%;
    border-radius: 10px;
    overflow:hidden;
}

.mediaDetailTwo {
    min-height: 175px;
    min-width: 175px;
    border-radius: 10px;
    overflow:hidden;
}

.mediaDetailTwoVid {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #2c2c2c;
    overflow:hidden;
}

.mediaDetailThree {
    min-height: 175px;
    min-width: 200px;
    border-radius: 10px;
    overflow:hidden;
}

.mediaDetailThreeVid {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #2c2c2c;
    overflow:hidden;
}

.mediaDetailFour {
    min-height: 175px;
    min-width: 200px;
    border-radius: 10px;
    overflow:hidden;
}

.mediaDetailFourVid {
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #2c2c2c;
    overflow:hidden;
} */


.addLinkContainer {
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 5px 0px 5px 0px;
}

.addLink {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.addLinkInput {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: grey;
    font-size: 1rem;
    font-family: 'Rokkitt', serif;
    font-weight: 400;

}

.addVideoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.previewSection {
    display: flex;
    flex-direction: column;
}

.videoPreviewContainer {
    border: none;
    border-radius: 10px;
}


.upload {
    font-size: 2.5rem;
    color: white;
}


/* .noteInput:focus {
    outline:1px solid fuchsia;
} */

/* .authorInput:focus {
    outline:1px solid fuchsia;
} */

.authorInput {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    
}

