.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--color-border-grey);
    z-index: 35;
}

.authModuleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--cream);
  }
  
  .authModule {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
  width: 100%;
  background-color: none;

  }

