.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 0px 0px 20px;
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px 10px 0px 0px;
    gap: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    opacity: .75;
  
}

.linkIcon {
    margin: 0px 0px 0px 0px;
}

.navText {
        display: none;
}

.logo {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    /* font-family: 'Patrick Hand', cursive;  */
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Concert One', cursive; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Lobster Two', cursive; */
  /*   font-family: 'Rouge Script', cursive;*/
    font-family: 'The Girl Next Door', cursive; 



    color: var(--darkwenge);
    margin-bottom: 0px;
}

.notificationDesktop {
    margin: 0px 12px 0px 12px;
    cursor: pointer;
}

.notificationMobile {
    display: none;
}

.authDesktop {
    margin: 0px 12px 0px 12px;
    cursor: pointer;
}

.authMobile {
    display: none;
}


