.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    border: none;
    gap: 25px;
    width: 100%;
}

.deleteModuleContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(200, 200, 200, .8);

}

.deleteModule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin: 50px 0px 0px 0px;
    padding: 20px 15px 20px 15px;
    border-radius: 15px;
    background-color: var(--cream);
}

.deleteModuleInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    padding: 20px 15px 20px 15px;
    border-radius: 15px;
    background-color: var(--cream);
}

.deleteTitle {
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.deletePromptContainer {
    font-size: .9rem;
}

.deletePrompt {
    font-size: .9rem;
    font-style: italic;
    font-weight: 600;
    cursor: pointer; 
}

.deleteBoards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: 10px 0px 10px 0px;
}

.deleteNote {
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: .8;
}


.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.nameTitle {
    color: var(--wenge);
    font-weight: 500;
}

.nameInput {
    border: none;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    outline: 2px solid var(--bluegreen);
    width: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.saveContainer {
    display: flex;
    width: 100%;
}

.saveButton {
    border: 2px solid var(--bluegreen);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: var(--bluegreen);
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.logoutButton {
    border: 2px solid var(--wenge);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background: none;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.deleteButton {
    border: none;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    background-color: var(--red);
    width: 100%;
    color: var(--cream);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}