
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');



:root {
  --red: #B33951;
  --redorange: #e55628;
  --orange: #d6583c;
  --greywenge: #f1f1f1;
  --lightwenge: #dbccd0;
  --midwenge: #776b6d;
  --wenge: #54494B;
  --darkwenge: #221d1e;
  --cream: #ffffff;
  --lightcream: #ffffff;
  --cream2: #ffffff;
  --blueblack: #060c0c;
  --blueblacklight: #585858;
  --bluegreen: #73cdce;
  --bluegreen3: #5bd3a3;
  --bluegreen2: #91C7B1;
  --yellow: #E3D081;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: var(--cream);
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
