
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Nunito:wght@300&display=swap');

:root {
  --red: #B33951;
  --wenge: #54494B;
  --darkwenge: #221d1e;
  --cream: #F1F7ED;
  --bluegreen: #91C7B1;
  --yellow: #E3D081;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  color: rgb(var(--foreground-rgb));
  background: #f1f7ed;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */